@font-face {
  font-family: fontawesome;
  src: url(../fontawesome/fa-solid-900.ttf) format("truetype");
}

:root {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../IMG/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 2px #fff;
  padding: 300px 40px 0px 40px;
}

nav {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

.topnav a.icon {
  background: #000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000;
}

.active {
  height: 50px;
  color: white;
}

.hamburger-icon {
  font-family: fontawesome;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 5px #534c4b;
}

/* andrew start */
.container {
  margin: 0 auto;
  text-align: center;
  background-color: #637081;
}

.cardimg {
  padding: 20px;
  width: 150px;
  height: 150px;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: 230px;
  height: 230px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 20px;
  background-color: #7c98b3;
}

.card:hover {
  background-color: #d8d8d8;
}
.cards {
  text-align: center;
  margin: auto;
  color: rgb(0, 0, 0);
}

p {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;

  font-size: 1rem;
  font-weight: 300;
}

.cardh2 {
  font-size: 1rem;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* andrew end */

fieldset {
  padding: 20px;
  margin: 20px;
  border: 1px solid #6391a1;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
legend {
  padding: 8px;
  font-size: 1.1rem;
}

input,
textarea {
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid #6391a1;
}

input {
  height: 40px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #6391a1;
  color: #fff;
  width: 100px;
  height: 30px;
  border: 1px solid #6391a1;
}

footer {
  background-image: url(../IMG/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
  padding-top: 20px;
}

footer > span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  line-height: 2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
    padding: 200px 40px 0px 40px;
  }

  .only-mobile {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  nav {
    padding: 20px;
    width: 65%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  nav a,
  nav a:visited {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover {
    text-shadow: 1px 1px 2px #fff;
    border-bottom: 1px solid #fff;
  }

  header {
    height: 60vh;
  }
  h3 {
    font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
  }
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 270px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 20px;
    background-color: #7c98b3;
  }
  .cardimg {
    padding: 20px;
    width: 170px;
    height: 170px;
  }
  .h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .container {
    margin: 0 auto;
    text-align: center;
    background-color: #abbed6;
  }
}

@media (min-width: 992px) {
  h1 {
    padding: 150px 40px 0px 40px;
  }
  nav {
    width: 55%;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  form div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  div > div,
  .row {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  legend {
    padding: 8px;
    font-size: 1.5rem;
  }

  h3 {
    font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
  }
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 280px;
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 20px;
    background-color: #7c98b3;
  }
  .cardimg {
    padding: 20px;
    width: 210px;
    height: 210px;
  }
  .h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.7rem;
    font-weight: 300;
  }
  .container {
    margin: 0 auto;
    text-align: center;
    background-color: #637081;
  }
  .cardcontainer {
    margin-top: 30px;
  }

  footer {
    height: 150px;
  }

  footer > span {
    font-size: 1.2rem;
  }
}
